@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: "Roboto", sans-serif;
}
.right{
    background-image: url("../images/library.jpg");
    background-position: center;
    background-size: cover;
}
.signUpright{
    background-image: url("../images/library2.jpg");
    background-position: center;
    background-size: cover;
}
.card{
    transform: translateX(200%);
    transition: all ease-out 600ms;
}